---
---

@import "base";

@import "listing";

.column {
    width: 90%;
    margin: 0 5%;
}

header.page-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: rgba($border-colour,0.4);
}

h1.title {
    margin: 0;
    // line-height: 45px;
    font-size: 32px;
}

/* ==============
    Menu
   ============== */

header nav {
    display: flex;
    flex-shrink: 0;
    align-items: baseline;
    flex-direction: row-reverse;
}

header nav a {
    display: block;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    margin-right: 8px;
    margin-left: 2px;
    width: max-content;

    border-bottom: 4px solid $border-colour;

    font-family: "Lato", sans-serif;
}

header nav a:hover {
    background-color: rgba($accent-colour, 0.05);
    border-bottom: 4px solid $accent-colour;
}

/* ==============
    MOBILE: Main
   ============== */

article {
    margin-top: 25px;
    // padding: 0 25px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

article h1 {
    margin: 20px 0 20px 0;
    font-size: 32px;
    line-height: 33px;
}

article h2 {
    font-size: 20px;
    margin: 20px 0 20px 10px;
}

article h3 {
    font-size: 18px;
    opacity:.8;
    margin: 20px 0 20px 20px;
}

article h4 {
    font-size: 18px;
    opacity: .8;
    margin: 20px 0 20px 24px;   
}

article p, article ul, article ol, article dl {
    margin: 0 0 20px 25px;
}

article ol#markdown-toc {
    font-family: "Lato", sans-serif;
    font-size: 17px;
}

article ol#markdown-toc li ol {
    margin: 0;
}

article dl dt {
    font-weight: bold;
}

article dl dt::after {
    content: ":"
}

article li {
    margin-top: 5px;
}

article ul.listing {
    margin-left: 25px;
}

article blockquote, article div.highlighter-rouge {
    margin-left: 45px;
    margin-right: 20px;
    padding-left: 15px;
    background-color: $blockquote-background-colour;
}

article code.highlighter-rouge {
    background-color: $blockquote-background-colour;
}

article blockquote p {
    margin-left: 0;
}

article blockquote blockquote {
    margin-left: 0;
}

article .highlighter-rouge {
    font-size: 80%;
}

article p:first-child {
    margin-top: 20px;
}

nav.tags {
    margin-top: 10px;
    margin-left: 25px;
}

.tagnav {
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    font-size: 90%;
    background-color: rgba($border-colour,0.4);
}

.tagnav .previous {
    grid-column: 1;
}

.tagnav .tagname {
    padding-top: 5px;
    padding-bottom: 5px;
    grid-column: 2;
}

.tagnav .next {
    grid-column: 3;
}

.tagnav .next, .tagnav .tagname, .tagnav .previous {
    grid-row: 0;
    text-align: center;
}

.tagnav a {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    width: 100%;
}

.origin {
    font-size: 80%;
    font-style: italic;
    margin-bottom:10px;
    margin-top: 10px;
}

article .citation {
    font-size: 90%;
}

#license {
    font-size: 80%;
    display: grid;
    grid-template-columns: 88 auto;
    margin-left: 25px;
    grid-column-gap: 10px;
    align-items: center;
}

#license img {
    grid-column-start: 1;
    grid-column-end: 2;
}

#license p {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
}

article figure {
    margin: 0 0 20px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

article figure img {
    max-width: 100%;
    color: #f00;
}

article figure figcaption {
    margin: 0 20px;
    font-size: 90%;
}

article figure pre {
    max-width: 100%;
}

article a {
    color: $accent-colour;
}

article a:hover {
    background-color: rgba($accent-colour, 0.05);
}

article hr {
    width: 60%;
    margin: 20px auto;
    border-top: 3px solid $border-colour;
}

article details {
    margin: 5px 10px 20px 10px;
    padding: 10px;
    background-color: rgba($border-colour,0.2);
}

article details summary {
    border: 1px solid $border-colour;
    background-color: rgba($border-colour,0.2);
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    opacity: .8;
    display: list-item;
    margin: -10px -10px -10px -10px;
}

article details[open] > summary {
    margin-bottom: 10px;
}

.hiddencontent {
    padding-top: 20px;
    display: none;
    background-color: rgba($border-colour,0.2);
    border: 1px solid $border-colour;
    border-top: none;
    padding-right: 20px;
}

.hiddencontent p:first-child {
    margin-top: 0;
}

.question {
    background-color: rgba($border-colour,0.2);
    border: 1px solid $border-colour;
    padding: 10px;
    margin-left: 45px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.question li {
    background-color: rgba($border-colour,0.6);
    list-style: none;
    border-left: 5px solid $border-colour;
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
    align-items: center;
    transition-property: background-color, border-left;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    min-height: 1.7em;
}

.question li .mjx-math {
    margin-left: 6px;
    margin-right: 6px;
}

.question li:first-child {
    margin-top: 0;
}

.question li.selectable {
    cursor: pointer;
}

.question li.selectable:hover {
    background-color: rgba($accent-colour, 0.1);
    border-left: 5px solid $accent-colour;
}

.question li.correct, .question li.correction {
    background-color: rgba($correct-colour,0.1);
    border-left: 5px solid $correct-colour;
}

.question li.wrong {
    background-color: rgba($wrong-colour,0.1);
    border-left: 5px solid $wrong-colour;
}

.question li::after {
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    margin-left: auto;
}

.question li.selectable::after {
    opacity: 0;
    content:"";
}

.question li.correct::after {
    opacity: 1;
    color: $correct-colour;
    content: "✓";
    font-size: 150%;
}

.question li.wrong::after {
    opacity: 1;
    color: $wrong-colour;
    content: "✗";
    font-size: 150%;
}

.question li.correction::after {
    opacity: 1;
    color: $correct-colour;
    content: "⬅";
    font-size: 150%;
}

.question li.greyedout {
    opacity: 0.5;
}

.question input {
    border: 1px solid $border-colour;
    background-color: white;
    margin-right: 10px;
    font-size: 150%;
    transition-property: background-color, color, border;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    text-align: right;
    margin-left: auto;
    width: 100%;
}

.question input + span {
    margin-right: 10px;
    white-space: nowrap;
}

.question input + span::after {
    content: "✓";
    font-size: 150%;
    opacity: 0;
    transition-property: opacity, width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.question input.correct {
    background-color: rgba($correct-colour, 0.2);
    border: 1px solid $correct-colour;
    color: $correct-colour;
}

.question input.correct + span::after {
    opacity: 1;
    color: $correct-colour;
}

.question input.wrong {
    background-color: rgba($wrong-colour, 0.2);
    border: 1px solid $wrong-colour;
    color: $wrong-colour;
}

.question input.wrong + span::after {
    content: "✗";
    opacity: 1;
    color: $wrong-colour;
}

@import "chat";

/* Umineko styles */
.red {
    color: red;
}

.smallcaps {
    font-variant: small-caps;
}

.japanese {
    font-style: normal;
}

ol.poem {
    
    margin-left: 0;
    font-style: italic;
    padding-left: 10px;
}

ol.poem li {
    list-style-type: none;
}

ol.poem li p {
    margin-bottom: 5px;
}

ol.poem li ol {
    margin-top: 20px;
    padding-left: 0;
}

ol.poem li li {
    margin-left: 0;
    padding-left: 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 420px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    header nav a {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 768px) {

/* ============
    WIDE: Menu
   ============ */

    // nav {
    //     width: 38%;
    // }

    article {
        width: 691px;
        margin: 0 auto;
    }

    article figure.float {
        max-width: 300px;
        shape-image-threshold: 0.5;
        shape-margin: 1em;
        margin-bottom: 0;
    }

    article figure.float.right {
        float: right;
        margin-left: 0.5em;
    }

    article figure.float.left {
        float: left;
        margin-right: 0.5em;
        margin-left: 0;
    }

    article figure.float figcaption {
        text-align: center;
    }
}

@media only screen and (min-width: 1000px) {

/* ===============
    Maximal Width
   =============== */

    .column {
        width: 900px; /* 1000px - 10% for margins */
        margin: 0 auto;
    }

    header.page-header {
        flex-wrap: nowrap;
        align-items: flex-end;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}