---
---

@import "base";

img {
	max-width: 20%;
}

article {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start
}

header {
	max-width: 475px;
}

header h1 {
	margin-bottom: 0;
}

header p {
	margin-left: 1em;
}

header p.line1 {
	margin-bottom: 0;
}

header p.line2 {
	margin-left: 3em;
	margin-top: 0;
	margin-bottom: 0;
}

header p.line3 {
	margin-left: 5em;
	margin-top: 0;
}

address {
	font-style: normal;
	margin-left: 1em;
}

a {
	display: block;
}

a.more {
	font-style: italic;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

nav .articles {
	max-width: 500px;
}

nav .articles h2 {
	margin-bottom: 15px;
}

nav .articles h2 a {
	display: inline;
}

@import "listing";

@media only screen and (max-width: 1249px) {
	#container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (min-width: 1250px) {
	header {
		max-width: 60%;
	}

	#container {
		width: 80%;
	}

	nav .articles {
		max-width: 45%;
	}

	article {
		max-width: 1500px;
		margin: 0 auto;
	}

	nav {
		justify-content: flex-start;
	}

	nav .articles {
		margin-right: 50px;
	}
}