---
---

@import "base";

img.splash-photo {
	max-width: 20%;
	float: left;
	shape-outside: url(/img/splash-photo.png);
	shape-margin: 1em;
	margin: 1em;
}

main {
	margin: 0 auto;
	max-width: 1500px;
}

header h1 {
	margin-bottom: 0;
}

header p {
	margin-left: 1em;
}

address {
	font-style: normal;
	margin-left: 1em;
}

address a::before {
	content: "▶ "
}

address a:hover::before {
	content: "▷ "
}

a {
	display: block;
}

a.more {
	font-style: italic;
}

nav .articles {
	max-width: 500px;
}

nav .articles h2 {
	margin-bottom: 15px;
}

nav .articles h2 a {
	display: inline;
}

img.fall {
	float: right;
	max-width: 20%;
	clear: left;
	width: 200px;
}

@import "listing";

@media only screen and (min-width: 800px) {
	nav {
		columns: 2;
		column-gap: 2em;
		max-width: 1000px;
	}

	nav .articles {
		break-inside: avoid;
		margin-right: 50px;
		display: inline-block;
	}

	img.fall {
		clear: none;
	}
}