{% assign post = include.post %}
<li>
    <a href="{{ post.url }}">
        <div class="titledate">
            <h3>{{ post.title }}</h3>
            <time datetime="{{post.date}}">
                {{post.date | date: "%e&nbsp;%b.&nbsp;%Y"}}
            </time>
        </div>
        <p>{{ post.excerpt }}</p>
        <ul class="tags">
            {% for tag in post.tags %}
                {% unless include.excludetags contains tag %}
                <li class="tag">{{tag}}</li>
                {% endunless %}
            {% endfor %}
        </ul>
    </a>
</li>