{% assign post = include.post %}
<article>
    <a href="{{ post.url }}">
        <time datetime="{{post.date}}">
            {{post.date | date: "%e&nbsp;%b.&nbsp;%Y"}}
        </time>
        <h1>{{ post.title }}</h1>
        <p>{{ post.excerpt | smartify }}</p>
        <ul class="tags">
            {% for tag in post.tags %}
                {% unless include.excludetags contains tag %}
                <li class="tag">{{tag}}</li>
                {% endunless %}
            {% endfor %}
        </ul>
    </a>
</article>