<div class="tagnav">
  {% assign posts = site.tags[include.tag] | reverse %}
  {% for post in posts %}
   {% if post.url == include.url %}
    <span class="previous">
      {% if forloop.first == false %}
        {% assign prev_ind = forloop.index0 | minus: 1 %}
        {% assign prev = posts[prev_ind] %}
        <a href="{{ prev.url | absolute_url}}">&larr; </a>
      {% endif %}
    </span>
    <span class="tagname">{{ include.tag }}</span>
    <span class="next">
      {% if forloop.last == false %}
        {% assign nxt_ind = forloop.index0 | plus: 1 %}
        {% assign nxt = posts[nxt_ind] %}
        <a href="{{ nxt.url | absolute_url}}"> &rarr;</a>
      {% endif %}
    </span>
    {% assign next = forloop.index0 | plus: 1 %}
   {% endif %}
  {% endfor %}
</div>