$person-colours: ("person1": rgb(0, 127, 74), "person2": rgb(198, 9, 50), "person3": rgb(193, 0, 167));

ul.chat {
	padding-left: 0;
}

ul.chat li {
	list-style-type: none;
	margin-bottom: 15px;
	margin-top: 0;
	padding-left: 15px;
	text-indent: -10px;
}

ul.chat li p {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 5px;
	text-indent: 0;
}

ul.chat li p:first-child {
	text-indent: -10px;
}

@each $person, $colour in $person-colours {
	ul.chat li.#{$person} {
		border-left: 2px solid $colour;
		background: linear-gradient(to right, rgba($colour,0.05),rgba($colour,0));
	}

	ul.chat li.#{$person} strong.name {
		color: $colour;
	}
}

ul.chat li ol {
	margin-left: 0;
}

ul.chat li ol li {
	list-style-type: lower-alpha;
	margin-bottom: 0;
}