$border-colour: rgb(230,230,230);
$accent-colour: #c9004c;
$text-colour: #222;
$blockquote-background-colour: #f9f9f9;

/*Quiz-specific colours*/
$correct-colour: #65BC07;
$wrong-colour: #BF3B07;