---
title: "Animation Night 175: Short Film Night N+1 “Whoah, These Films Are Short”"
layout: article
origin: https://canmom.tumblr.com/post/731911340432703489/animation-night-175-short-film-night-n-1-whoah
categories:
 - films
 - animation-night
tags:
 - animation night
 - short films
excerpt: "The latest tasty offerings from the wildly imaginative animators of the web, including the obtusely brilliant Schuschinus, and CalArts films from the vault."
---
<h1></h1>

<p>Hello everyone! As you might gather from how spotty these streams have been lately, I have been running on kinda low energy for writing about animated films. But Animation Night will never die! Never!!!</p>

<p>Not even if I have to make an AI overlord to put all of humanity into bubbling, softly glowing science tubes, projecting each person’s minds into a virtual studio so everyone can produce animation to fill my programme. [This is a hypothetical. <em>No plans are afoot to bring about this eventuality.</em>]</p>

<p>Tonight is one of those short film nights! I really like short films - there’s a reason animation night started with package films like ‘Robot Carnival’. And even though every collection is hit and miss, there’s usually some gems.</p>

<p>Now, every so often we tune into the films of students at animation studios like CalArts and Gobelins. But students have been making films since long before there were video streaming sites. Some of those students will go on to be 'important in the animation industry’ and stuff like that!</p>

<p>I recently came across a trove of CalArts films from the 80s through the 90s, <a href="https://twitter.com/rarefilmm/status/1711934837760696482">thanks to rarefilmm</a>, who maintains <a href="http://rarefilmm.com/">a great site for finding obscure movies</a>. In his words:</p>

<blockquote class="npf_indented">

  <p>Full list & link w/all the shorts I got from '80s CalArts students, some of these are on Youtube but not all of them, also included here is an unifinished version (doesn’t have colors) of <em>Wisconsin</em> (1994), from the late Chris Moeller, considered lost media.</p>

</blockquote>

<p>It’s a fascinatingly old-school collection - some of the students go for a classic Disney kind of 'full animation’ but you can also see the seeds of styles that would become prevalent in the 90s. The shorts are <em>very</em> short by the standards of modern student films, many of them less than a minute long - if anything underlines how tech has affected this scale of animation it’s that.</p>

{% include youtube.html id="SpJgSYvMEYI" %}

<p>And for modern contrast, Gobelins are releasing a current batch of student films! Alongside <cite>TRY HARD</cite>, in which anime girls try to get into anime gobelins, we have the Tekkonkinkreet-esque <cite>Kakomando</cite> in which parkour-loving kids vie with adults in a shanty town, and the above short in which a young alchemist is apprenticed to a vain and reckless older guy.</p>

<p>That’s the student side, but what of web animation? Well, our favourite Australian animator couple <strong>Zoë Medcraft & Felix Colgrave</strong> made a great video about ants…</p>

{% include youtube.html id="WEfdkM89cQI" %}

<p>For that matter, I don’t think I’ve shown Medcraft’s previous animation, <cite>I’m A Witch</cite>, which drips with just as much style…</p>

{% include youtube.html id="2ry-tfPUxJA" %}

<p><strong><a href="https://www.schuschinus.de/schuschinus-en.html">Schuschinus</a></strong> made a new <cite>PSYCHO ESSENCE</cite>, and I think this would be a great chance to visit the works of one of my favourite JDR-like autistic passion project series. <cite>Psycho Essence</cite> is a massive stream-of-consciousness space opera telling of how a group of hedonistic cyborg weirdos, the Maschinensäcke, resist the cosmic repressive hyperfascist force of 'F’ (for Freitaglandmänner). Classic Kirby type stuff and incredibly sincere.</p>

<p class="npf_link" data-npf='{"type":"link","url":"https://www.newgrounds.com/portal/view/899995","display_url":"https://www.newgrounds.com/portal/view/899995","title":"Psycho Essence #10 They take over now","description":"Gory sickbay and a duel in the sky","site_name":"Newgrounds.com","poster":[{"media_key":"8a41d0a68caecd0878430b1fb1e2f22a:c10a9e3015d5376a-8e","type":"image/jpeg","width":720,"height":405}]}'><a href="https://www.newgrounds.com/portal/view/899995" target="_blank">Psycho Essence #10 They take over now</a>

</p>

<p>Honestly I think it might be a good time to watch the whole series! It’s not the easiest thing to follow but it has some real sights and honestly, I just admire the whole energy of Schuschinus and his project so much.</p>

{% include vimeo.html id="866029975" %}

<p>Meanwhile The Line, one of the most talented animation studios in the world, released this incredible <cite>Berserk</cite>-core short film <cite>Heavenly Vessel</cite> - the debut for director Venla Linna. In their words:</p>

<blockquote class="npf_indented">

  <p>The uneasy stasis of a space-dwelling Monarchy is shaken by the arrival of a hypnotic, luminous dwarf planet. Caught between the authoritarian Duke and the impulsive Prince, all will come to light.</p>

</blockquote>

<p>That means growing extra eyes and transitioning in a kind of space orgy, apparently. Absolutely gorgeous film, and I’m really excited to see the Line going in this more narrative direction, when so much of their other work carries the stain of being an ad lol.</p>

<p>We also have the second season of <a href="https://www.youtube.com/@Worthikids/videos">Worthikids’</a> series <cite>Bigtop Burger</cite> to enjoy - the ending, in which we visit the planet of clowns and learn the significance of Old Deut to clown culture, is <em>something else</em>.</p>

<p>And as usual with short film nights, if you’ve seen anything cool and weird and animated on the internet of late, let me know and I’ll slot it in! I’m always excited to see new animation!</p>