---
title: "El Goonish Shive 7: straw feminism"
layout: article
origin: https://comicalmomentum.tumblr.com/post/145359042016/susan-wishes-she-was-a-lesbian-in-response-to
excerpt: Dan Shive had a lot to learn.
date: 2016-06-03 15:55:06 GMT
categories:
 - livereads
 - egs
tags:
 - el goonish shive
---
<p>susan “<a href="http://www.egscomics.com/index.php?id=157">wishes she <em>was</em> a lesbian</a>” in response to homophobic abuse. did you know: you <em>can</em> be a lesbian if you want to! in fact being a lesbian was the best thing i ever did, 10/10</p>

<hr>

{% include origin.html url='https://comicalmomentum.tumblr.com/post/145359257281/commenting-on-their-2002-strip-2014dan-shive-is' %}

<p>commenting on their 2002 strip, 2014!dan shive is <a href="http://www.egscomics.com/index.php?id=159">at pains</a> to defend susan “having issues with” men. well it’s a start. hopefully 2016!dan shive has realised disliking men is actually a good thing!</p>

<p>anyway this is a painfully pathetic straw-feminist strip that reads like it was written by some kind of gamergater. ‘female superiority’ lol.</p>

<p>this is going to be a bad string of strips, i think</p>

<hr>

<p>i mean i guess the main thing that can be said about this arc is that the kind of perspectives these kids have on gender and sexuality and so on are exactly the kinds of perspectives that kids in a school would have</p>

<p>i guess the next fourteen years of archive (can you believe we’re still not out of 2002) are basically going to be how these non-straight non-cis kids unlearn all the ideology of heterosexuality and cisness, in parallel with their own author, or something</p>

<hr>

{% include origin.html url='https://comicalmomentum.tumblr.com/post/145359257281/commenting-on-their-2002-strip-2014dan-shive-is' %}

<p><a href="http://www.egscomics.com/index.php?id=163">ugh</a> so the old “glasses that let you see through peoples’ clothes” fantasy. i really hate it? literally the only thing it has going for it is violation of consent: you could see people naked without them necessarily agreeing to it.</p>

<p>also i remember being a kid <em>far</em> too young to know anything about sex at all (idek how old!) going on newgrounds and playing some shitty flash game where you get glasses with this power. i recall this mostly because this may actually, in retrospect, been the first time i saw a depiction of a trans woman, because one of the people you could “perv” on was a woman whose penis you could look at.</p>

<p>2014!Dan Shive says:</p>

<blockquote>
  <p>I’d be like “your glasses can do WHAT?!” followed by a bunch of questions and resisted the urge to borrow the glasses for “reasons”.</p>
</blockquote>

<p>you’ve had 12 years to realise this idea is really creepy and you still haven’t?</p>

<p>(also it wouldn’t even be that sexy? naked people aren’t actually inherently sexy?)</p>