---
layout: page
---
<article>
  <footer>
    <nav class="tags">
      {% for tag in page.tags %}
        {% include tag.html tag=tag url=page.url %}
      {% endfor %}
    </nav>
    {% if page.origin %}
    <p id="origin">originally posted at <a href="{{ page.origin }}">{{ page.origin | truncate: 40 }}</a></p>
    {% endif %}
  </footer>
  {{ content }}
  <footer>
    <nav class="tags">
      {% for tag in page.tags %}
        {% include tag.html tag=tag url=page.url %}
      {% endfor %}
    </nav>
  </footer>
</article>
