<!doctype html>
<html class="no-js" lang="en-gb">
<head>
  {% include frontmatter.html %}
  <title>{{ page.title }}</title>
  {% seo %}
  
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho&amp;subset=japanese" rel="stylesheet"> 
  <link rel="stylesheet" href="{{ '/css/article.css' | absolute_url}}" media="screen" type="text/css">
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
  {% endif %}

  {% include mathjax.html %}
</head>
<body>
  <header class="column page-header">
    <h1 class="title">{{ page.title }}</h1>
    <nav>
      <a href="{{ site.url }}">home</a>
      {% for cat in page.categories %}
        <a href="{{ site.url }}{{ site.data.categories[cat].path }}">{{ site.data.categories[cat].display }}</a>
      {% endfor %}
    </nav>
  </header>

  {{content}}
   
  <script src="{{ '/js/main.js' | absolute_url }}"></script>
</body>
</html>
