<!doctype html>
<html class="no-js" lang="en-gb">
    <head>
        {% include frontmatter.html %}
        <link rel="stylesheet" href="{{ '/css/splash.css' | absolute_url}}">

        {% seo %}
    </head>
    <body>
        <article>
            <img src="img/splash-photo.png" alt="A photo of site author Bryn Dickinson, a woman with long red hair, smiling towards the camera on a cloudy day. The photo is cropped into a circle.">
            <section id="container">
                <header>
                    <h1>{{ page.header }}</h1>
                    <p class="line1">There is a whirlpool of subjectivity in the vast flow of history.</p>
                    <p class="line2">Sometimes, she emits posts, and stories, and other little knots of words.</p>
                    <p class="line3">Sometimes, her creations wash up here.</p>
                    <address>
                        {% for detail in page.contact_details %}
                        <a id="{{ detail.id }}" href='{{ detail.href }}'>{{ detail.text }}</a>
                        {% endfor %}
                    </address>
                </header>
                <nav>
                    <section class="articles">
                        <h2><a href="https://canmom.itch.io">fiction</a></h2>
                        <ul class="listing">
                            <li>
                                <a href="https://canmom.github.io/vector">
                                    <h3>VECTOR</h3>
                                    <p>Civil war. Transforming bodies. Radioactive, regenerating trans women struggle to survive and transform a dystopian world. (web serial)</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://canmom.itch.io/house">
                                    <h3>house</h3>
                                    <p>The revolution has come, houses are free, and you're falling in love with your occupant. (interactive fiction)</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://canmom.itch.io/hacker">
                                    <h3>hacker</h3>
                                    <p>An AI romance. (interactive fiction)</p>
                                </a>
                            </li>
                        </ul>
                    </section>
                    {% assign categorylist = "crit physics theory rpgs" | split: ' ' %}
                    {% for category_name in categorylist %}
                    <section class="articles">
                        <h2><a href="/{{category_name}}/">{{category_name}}</a></h2>
                        <ul class="listing">
                            {% assign first_posts = site.categories[category_name] | slice: 0,5 %}
                            {% for post in first_posts %}
                                {% include listing.html post=post %}
                            {% endfor %}
                            {% if site.categories[category_name].size > 5 %}
                            <li><a href="/{{category_name}}/" class="more"><p>more…</p></a></li>
                            {% endif %}
                        </ul>
                    </section>
                    {% endfor %}
                    <section class="articles">
                        <h2><a href="/livereads/">livereads</a></h2>
                        <ul class="listing">
                            {% assign subcategories = site.data.livereads %}
                            {% for story in subcategories %}
                            {% if "egs uj animorphs umineko" contains story.path %}
                            <li>
                            {% capture fullpath %}{% if page.categories %}/{{ page.categories | join: "/" }}{% endif %}/livereads/{{ story.path }}/{% endcapture %}
                                <a href='/livereads/{{ story.path }}'>
                                  <h3>{{ story.title }}</h3>
                                  {% for sitepage in site.pages %}{% if sitepage.url == fullpath %}<p>{{ sitepage.description }}</p>{% endif %}{% endfor %}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <li><a href="/livereads/" class="more"><p>more…</p></a></li>
                        </ul>
                    </section>
                    {% assign categorylist = "nier programming" | split: ' ' %}
                    {% for category_name in categorylist %}
                    <section class="articles">
                        <h2><a href="/{{category_name}}/">{{category_name}}</a></h2>
                        <ul class="listing">
                            {% assign first_posts = site.categories[category_name] | slice: 0,5 %}
                            {% for post in first_posts %}
                                {% include listing.html post=post %}
                            {% endfor %}
                            {% if site.categories[category_name].size > 5 %}
                            <li><a href="/{{category_name}}/" class="more"><p>more…</p></a></li>
                            {% endif %}
                        </ul>
                    </section>
                    {% endfor %}
                    <section class="articles" id="projects">
                        <h2>projects</h2>
                        <ul class="listing">
                            {% for repo in site.github.public_repositories reversed%}
                            {% unless page.project_excludes contains repo.name %}
                            <li>
                                <a href="{{ repo.html_url }}">
                                    <h3>{{ repo.name }}</h3>
                                    {% if repo.name == "canmom.github.io" %}
                                    <p>The source code to the website you're looking at right now!</p>
                                    {% else %}
                                    <p>{{ repo.description }}</p>
                                    {% endif %}
                                </a>
                            </li>
                            {% endunless %}
                            {% endfor %}
                        </ul>
                    </section>
                </nav>
            </section>
        </article>
    </body>
</html>