<!doctype html>
<html class="no-js" lang="en-gb">
    <head>
        {% include frontmatter.html %}
        <link rel="stylesheet" href="{{ '/css/splash.css' | absolute_url}}">

        {% seo %}
    </head>
    <body>
        <article>
            <img src="img/splash-photo.png" alt="A photo of site author Bryn Dickinson, a woman with long red hair, smiling towards the camera on a cloudy day. The photo is cropped into a circle.">
            <section id="container">
                <header>
                    <h1>{{ page.header }}</h1>
                    <address>
                        {% for detail in page.contact_details %}
                        <a id="{{ detail.id }}" href='{{ detail.href }}'>{{ detail.text }}</a>
                        {% endfor %}
                    </address>
                </header>
                <nav>
                    {% for category in site.categories %}
                        {% capture category_name %}{{category | first}}{% endcapture %}
                        {% if "physics" contains category_name %}
                    <section class="articles">
                        <h2>{{category_name}}</h2>
                        <ul>
                            {% for post in site.categories[category_name] %}
                                {% include listing.html post=post %}
                            {% endfor %}
                        </ul>
                    </section>
                        {% endif %}
                    {% endfor %}
                    <section class="articles" id="projects">
                        <h2>projects</h2>
                        <ul>
                            {% for repo in site.github.public_repositories reversed%}
                            {% unless page.project_excludes contains repo.name %}
                            <li>
                                <a href="{{ repo.html_url }}">
                                    <h3>{{ repo.name }}</h3>
                                    {% if repo.name == "canmom.github.io" %}
                                    <p>The source code to the website you're looking at right now!</p>
                                    {% else %}
                                    <p>{{ repo.description }}</p>
                                    {% endif %}
                                </a>
                            </li>
                            {% endunless %}
                            {% endfor %}
                        </ul>
                    </section>
                </nav>
            </section>
        </article>
    </body>
</html>