<!doctype html>
<html class="no-js" lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ '/css/normalize.min.css' | absolute_url}}">
        <link rel="stylesheet" href="{{ '/css/splash.css' | absolute_url}}">

        {% seo %}
        {% include favicon.html %}
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <section>
            <img src="img/splash-photo.png" alt="A photo of site author Bryn Dickinson, a woman with long red hair, smiling towards the camera on a cloudy day. The photo is cropped into a circle.">
            <div id="container">
                <header>
                    <h1>{{ page.header }}</h1>
                    <address>
                        {% for detail in page.contact_details %}
                        <a id="{{ detail.id }}" href='{{ detail.href }}'>{{ detail.text }}</a>
                        {% endfor %}
                    </address>
                </header>
                <nav>
                    {% for category in site.categories %}
                    <div class="articles">
                        {% capture category_name %}{{category | first}}{% endcapture %}
                        <h2>{{category_name}}</h2>
                        <ul>
                            {% for post in site.categories[category_name] %}
                            <li>
                                <a href="{{ post.url }}">
                                    <div class="titledate">
                                        <h3>{{ post.title }}</h3>
                                        <div class="date">
                                            {{post.date | date: "%e&nbsp;%b.&nbsp;%Y"}}
                                        </div>
                                    </div>
                                    <p>{{ post.excerpt }}</p>
                                    <ul class="tags">
                                        {% for tag in post.tags %}
                                            <li class="tag">{{tag}}</li>
                                        {% endfor %}
                                    </ul>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    <div class="articles" id="projects">
                        <h2>projects</h2>
                        <ul>
                            {% for repo in site.github.public_repositories reversed%}
                            {% unless page.project_excludes contains repo.name %}
                            <li>
                                <a href="{{ repo.html_url }}">
                                    <h3>{{ repo.name }}</h3>
                                    {% if repo.name == "canmom.github.io" %}
                                    <p>The source code to the website you're looking at right now!</p>
                                    {% else %}
                                    <p>{{ repo.description }}</p>
                                    {% endif %}
                                </a>
                            </li>
                            {% endunless %}
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </body>
</html>