---
layout: page
---
<article class="articles">
  <p>{{ page.description }}</p>
  <h2>Subcategories</h2>
  <ul class="listing">
    {% assign subcats = site.data[page.cat] %}
    {% for story in subcats %}
      <li>
        {% capture fullpath %}/{{ page.cat }}/{{ story.path }}/{% endcapture %}
        <a href='{{ story.path }}'>
          <h3>{{ story.title }}</h3>
          {% for sitepage in site.pages %}{% if sitepage.url == fullpath %}<p>{{ sitepage.description }}</p>{% endif %}{% endfor %}
        </a>
      </li>
    {% endfor %}
  </ul>
  <!--List any articles that are members of only the supercategory-->
  {% assign excludeArr = '' | split: '' | push: site.data.categories[page.cat].display %}
  {% for cat in page.categories %}
    {% assign excludeArr = excludeArr | push: site.data.categories[cat].display %}
  {% endfor %}
  {% assign catposts = site.categories[page.cat] | reverse | where_exp: "post", "post.categories[-1] == page.cat" %}
  {% if catposts.size > 0 %}
  <h2>Articles</h2>
  <ul class="listing">
    {% for post in catposts %}
      {% include listing.html post=post excludetags=excludeArr %}
    {% endfor %}
  </ul>
  {% endif %}
</article>