---
layout: page
css: "/article/category.css"
---
<main class="articles">
  <p>{{ page.description }}</p>
  <h2>Subcategories</h2>
  <section class="listing">
    {% assign subcats = site.data[page.cat] %}
    {% for story in subcats %}
      <article>
        {% capture fullpath %}{{ page.dir }}{{ story.path }}/{% endcapture %}
        <a href='{{ story.path }}'>
          <h1>{{ story.title }}</h1>
          {% for sitepage in site.pages %}{% if sitepage.dir == fullpath %}<p>{{ sitepage.description }}</p>{% endif %}{% endfor %}
        </a>
      </article>
    {% endfor %}
  </section>
  <!--List any articles that are members of only the supercategory-->
  {% capture articles %}{% include categorylist.html %}{% endcapture %}
  {% if articles != empty %}
  <h2>Posts</h2>
  <section class="listing">
    {{ articles }}
  </section>
  {% endif %}
</main>