<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WORM QUEEN</title>
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|IM+Fell+English+SC&display=swap" rel="stylesheet">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style>
body {
  font-family: "Crimson Text", serif;
  background-color: #3a0717;
  color: #260700;
  font-size: 15pt;
}
article {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff4d6;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 10px;
  padding-bottom: 30px;
}
hr {
  width: 50%;
}
h1 {
  font-family: 'IM Fell English SC', serif;
  font-size: 400%;
  text-align: center;
}

h2 {
  font-size: 150%;
}
  </style>
</head>

<body>
<article>
{{content}}
</article>
</body>
</html>